/* Genel Stil */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f9f4; /* Hafif doğa temalı bir arka plan rengi */
}

/* Navbar (Üst Menü) */
#navbar {
    background-color: #4CAF50; /* Doğayla uyumlu yeşil */
    padding: 20px;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#navbar h1 {
    font-size: 28px;
    margin: 0;
}

button {
    padding: 12px 25px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* Formlar */
.form {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 4px;
}

/* Geriye doğru animasyonlar */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.form {
    animation: slideIn 0.5s ease-out;
}
